  <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h2>All Expenses</h2>   
                        <h5>Welcome , Love to see you back. </h5>
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               
            <div class="row">
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                             
                             <%= link_to 'Add New Room' , new_expense_path , class: "btn btn-success btn " %> 
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class=" datatable table table-striped table-bordered table-hover datatable" id="dataTables-example ">
                                    <thead>
                                        <tr>
                                            <th>Amount</th>
                                            <th>Detail</th>
                                            <th>Date</th>
                                            <th>Edit</th>
                                            <th>Delete</th>                                
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <%- @expenses.each do |e| %>
                                        <tr>
                                           <td> <%= e.amount%> </td>
                                           <td> <%= e.detail%> </td>
                                           <td> <%= e.date.strftime("%d %B %Y") %> </td>
                                            <td><%= link_to 'edit' , edit_expense_path(e) , class: "btn btn-info btn-xs" %></td>
                                            <td><%= link_to 'delete' , e , method: :delete , class: "btn btn-danger btn-xs" %></td>
                                        </tr>

                                        
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>



